{% extends 'dashboard.html'%}

{% block header %}{%endblock%}
{% block leftMenu %}{%endblock%}
{% block topNavigation %}{%endblock%}
{% block form2 %}{%endblock%}
{% block form3 %}{%endblock%}



{% block form1Title%}
Add Gift:
{%endblock%}

{%block form1Body%}

                                  {% for error in errors %}
                                    <font color="red">
                                    {{error}}<br>
                                    </font>
                                    {% endfor %}
                                    
                                    
                                      <form id="add_user" method="post" action="">
                                      <div class="section" >
                                                <label>Gift Code<sup>*</sup></label>   
                                                <div> <input type="text" name="code" value="{{code}}"class=" large"  /></div>
                                           </div> 
                                            <div class="section" >
                                                <label>Gift Name<sup>*</sup> </label>   
                                                <div> <input type="text" name="name" value="{{name}}"class=" large"  /></div>
                                           </div>
                                           
                                         
                                           
                                           
                                           <div class="section" >
                                                <label>Gift Description</label>   
                                                <div> <input type="text" name="description" value="{{description}}"class=" large"  /></div>
                                           </div>
                                            <div class="section" >
                                                <label>Gift Quantity</label>   
                                                <div> <input type="text" name="quantity" value="{{quantity}}"class=" large"  /></div>
                                           </div>
                                           
                                            <div class="section" >
                                                <label>status</label>   
                                                <div class="selectWidth1">
                                                <select class="small" name="status" >
                                                
                                                {% if status %}
                                                {% ifequal status "1" %}
                                                
                                                <option value="1" selected>Active</option>
                                                
                                                <option value="2">InActive</option>
                                                {% else %}
                                                 <option value="2" selected>InActive</option>
                                                
                                                <option value="1">Active</option>
                                                {% endifequal %}
                                                {% else %}
                                                  <option value="1" selected>Active</option>
                                                   <option value="2">InActive</option>
                                                   {% endif %}                                          
                                                </select>       
                                      </div>
                                           </div>
                        

<div class="section last">
                                                <div>
                                                  <input type="submit" name="addGift" value="Save" class="btn submit_form"></input>
<a class="btn" title="Reset Form" onclick="ResetForm()">Clear Form</a> </div>
                                           </div>
                                        </form>
{%endblock%}



