{% extends "dashboard.html" %}
{% load staticfiles %}
               
                {% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       {%if CUP.department.0 or cu.isAdmin%}
                      <li ><a href="/departments/"><span class="ico gray shadow pictures_folder" ></span><b>Department</b></a></li>
                      {%endif%}
                      
                      {%if CUP.role.0 or cu.isAdmin %}
                      <li ><a href="/role/list"><span class="ico gray shadow  pictures_folder"></span><b>Role</b> </a></li>
                      {%endif%}
                      
                      {%if CUP.employee.0 or cu.isAdmin%}
                      <li ><a href="/user/list" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                      {%endif%}
                      
                      {%if CUP.magazine.0 or cu.isAdmin%}
                      <li ><a href="/magazine/list"><span class="ico gray shadow pictures_folder" ></span><b>Magazine</b></a></li>
                      {%endif%}
                      
                      {%if CUP.magazineC.0 or cu.isAdmin%}
                      <li ><a href="/combo/list"><span class="ico gray shadow pictures_folder" ></span><b>Magazine Combo</b></a></li>
                      {%endif%}
                      
                      {%if CUP.gift.0 or cu.isAdmin%}
                      <li ><a href="/gifts/"><span class="ico gray shadow pictures_folder" ></span><b>Gift</b></a></li>
                      {%endif%}
                      
                      {%if CUP.tenure.0 or cu.isAdmin%}
                      <li ><a href="/tenures/"><span class="ico gray shadow pictures_folder" ></span><b>Tenure</b></a></li>
                      {%endif%}
                      
                      {%if CUP.scheme.0 or cu.isAdmin%}
                      <li ><a href="/schemes/"><span class="ico gray shadow pictures_folder"></span><b>Scheme</b></a></li>
                      {%endif%}
                      
                      {%if CUP.source.0 or cu.isAdmin%}
                      <li ><a href="/sources/"><span class="ico gray shadow pictures_folder"></span><b>Source</b></a></li>
                      {%endif%}
                      
                      {%if CUP.location.0 or cu.isAdmin%}
                      <li ><a href="/locations/"><span class="ico gray shadow pictures_folder"></span><b>Location</b></a></li>
                      {%endif%}
                      
                      {%if CUP.courier.0 or cu.isAdmin%}
                      <li ><a href="/couriers/"><span class="ico gray shadow pictures_folder"></span><b>Courier</b></a></li>
                      {%endif%}
                      
                      {%if CUP.branch.0 or cu.isAdmin%}
                      <li class="select" ><a href="/branch/"><span class="ico gray shadow pictures_folder" ></span><b>Branch</b></a></li>
                      {%endif%}
                    </ul>
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}   
               
                    
                 
                 
                                    {% block form1Title %}
                                    
                                    
                                                                     <script>
function getCity(stateId)
{
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
    document.getElementById("citydiv").innerHTML=xmlhttp.responseText;
    }
  }
xmlhttp.open("GET","/accMresponder?state="+stateId,true);
xmlhttp.send();
}

</script>

                                    
                                      
                                    Add Branch
                                    
                                    
                                    {% endblock %}
                                	
                                {% block form1Body %}
                                
                                    {% for error in errors %}
                                    <font color="red">
                                    {{error}}<br>
                                    </font>
                                    {% endfor %}
                                    
                                    
                                      <form id="add_user" method="post" action="/branch/add/">
                                      <div class="section" >
                                                <label>Branch Code<sup>*</sup></label>   
                                                <div> <input type="text" name="code" value="{{code}}" class=" large" maxlength="50"  /></div>
                                           </div> 
                                            <div class="section" >
                                                <label>Branch Name<sup>*</sup> </label>   
                                                <div> <input type="text" name="name" value="{{name}}" maxlength="50" class=" large"  /></div>
                                           </div>
                                           
                                         
                                           
                                           
                                           <div class="section" >
                                                <label>Branch Description</label>   
                                                <div> <input type="text" name="description" value="{{description}}" maxlength="150" class=" large"  /></div>
                                           </div>
                                           <div class="section" >
                                                <label>ContactNo</label>   
                                                <div> <input type="text" name="contactno" placeholder="in digit" onkeypress="return isNumberKey(event)" value="{{contactno}}" class=" large" maxlength="12"  /></div>
                                           </div>
                                           
                                                <div class="section" >
                                                <label>State<sup>*</sup></label>   
                                                <div class="selectWidth1" id="statediv">
                                                <select class="small" name="state"  onchange="getCity(this.value)" >
                                               
                                                
                                                <option value="-1">select</option>
                                                {% for s in getstates %}
                                                 {% ifequal getstate s.id %}
                                                
                                                <option value="{{s.id}}" selected>{{s.name}}</option>
                                                
                                                {%else%}
                                                <option value="{{s.id}}" >{{s.name}}</option>
                                                {%endifequal%}
                                                {% endfor %}
                                                
                                              </select>
                                                
                                      </div>
                                        </div>
                                        
                                        <div class="section" >
                                                <label>City<sup>*</sup></label>   
                                                <div class="selectWidth1" id="citydiv">
                                                <select class="small" name="city" >
                                               
                                                <option value="-1">select</option>
                                                
                                                {% for c in getcities %}
                                                 {% ifequal getcity c.id %}
                                                
                                                <option value="{{c.id}}" selected>{{c.name}}</option>
                                                
                                                {%else%}
                                                <option value="{{c.id}}" >{{c.name}}</option>
                                                {%endifequal%}
                                                {% endfor %}
                                                
                                              </select>       
                                      </div>
                                        </div> 
                                           
                                                <div class="section" >
                                                <label>Address<sup>*</sup></label>   
                                                <div> <input type="text" name="address" value="{{address}}" class=" large"   /></div>
                                           </div>
                                             <div class="section" >
                                                <label>Pincode</label>   
                                                <div> <input type="text" name="pincode" placeholder="in digit" onkeypress="return isNumberKey(event)" value="{{pincode}}" class=" large" maxlength="10"  /></div>
                                           </div>
                                           
                                            <div class="section" >
                                                <label>status</label>   
                                                <div class="selectWidth1">
                                                <select class="small" name="status" >
                                                
                                                {% if status %}
                                                {% ifequal status "1" %}
                                                
                                                <option value="1" selected>Active</option>
                                                
                                                <option value="2">InActive</option>
                                                {% else %}
                                                 <option value="2" selected>InActive</option>
                                                
                                                <option value="1">Active</option>
                                                {% endifequal %}
                                                {% else %}
                                                  <option value="1" selected>Active</option>
                                                   <option value="2">InActive</option>
                                                   {% endif %}                                          
                                                </select>       
                                      </div>
                                           </div>
                        

<div class="section last">
                                                <div>
                                                   <input type="submit" name="addBranch" value="Save" class="btn submit_form"></input>
<a class="btn" title="Reset Form" onclick="ResetForm1()">Clear Form</a> </div>
                                           </div>
                                        </form>
                                </div><!--  end widget-content -->
                            
                            
                          <!-- start right section--> 
                            
{% endblock %}