{%extends 'dashboard.html' %}
{% load staticfiles%}

{%load staticfiles%}
{% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      <li class="select"><a href="/subscription/list"><span class="ico gray shadow pictures_folder" ></span><b>Subscription</b></a></li>
                      <li ><a href="/customer/"><span class="ico gray shadow pictures_folder" ></span><b>Subscriber</b></a></li>
                      <li><a href="/subscription/renew"><span class="ico gray shadow pictures_folder" ></span><b>Lapse Subscription</b></a></li>
                      <li><a href="/compliment/"><span class="ico gray shadow pictures_folder" ></span><b>Complimentary</b></a></li>
                      <li ><a href="/suspended/"><span class="ico gray shadow pictures_folder" ></span><b>Suspended</b></a></li>
                    </ul>
                    
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
{%endblock%}

{% block form1Title%}Subscriptions List{%endblock%}

{%block form1Header%}
<div class="btn-group btn-square" style="float:right; margin:3px 2px 0 0" >
	<a class="btn  btn-large " href="/subscription/add"><strong>Add Subscription</strong></a>
</div>
{%endblock%}
{% block form1Body%}
<h3>Search Subscription</h3>
<form action="/subscription/list" method="POST">
<table cellpadding="5">
	<tr>
		<td>Subscription ID:</td><td><input type="text" name="searchsubid" value="{{searchsubid}}" size="10"></td>  
		<td>First Name:</td><td><input type="text" name="searchfname" value="{{searchfname}}" size="10"></td>
		<td>Last Name:</td><td><input type="text" name="searchlname" value="{{searchlname}}" size="10"></h5></td>
	</tr>
	<tr>
		<td>Customer ID:</td><td><input type="text" name="searchcustId" value="{{searchcustId}}" size="10"></td>
		<td>Designation:</td><td><input type="text" name="searchdesig" value="{{searchdesig}}" size="10"></td>
		<td>Company Name:</td><td><input type="text" name="searchcompany" value="{{searchcompany}}" size="10"></td>
	</tr>
	<tr>
		<td>Email:</td><td><input type="text" name="searchemail" value="{{searchemail}}" size="10">&nbsp&nbsp&nbsp&nbsp&nbsp</td>
		<td>Mobile No:</td><td><input type="text" name="searchcontactno" value="{{searchcontact}}" size="10"></td>
		<td colspan="2" align="left"><input type="submit" class="btn" name="advancesearch" value="search" /></td>
	</tr>
</table>

</form>
<div id="UITab" style="position:relative; ">
                                         
                                          <div class="" >
                                          <div id="tab1" class="tab_content"> 
                                                 
                                                  <table class="table table-bordered table-striped data_table3 "  id="data_table3" width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        <td width="3%">S.N.</td>
                                                        <td width="5%">Customer ID</td>
                                                        <td width="5%">Subscription ID</td>
                                                        <td width="11%">Subscriber Name</td>
                                                        <td width="5%">Subscription Date</td>
                                                        <!--<td width="5%">Subscriber Type</td>-->
                                                        
                                                        <td width="9%">City</td>
                                                        <td width="9%">Mobile No.</td>
                                                        <td width="1%">Status</td>
                                                        <td width="1%">Action</td>
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                               {% for item in temp %}
                                               <tr>
                                               <td>
                                               {{forloop.counter}}
                                               </td>
                                               <td>
                                               {{item.0}}
                                               </td>
                                               <td>
                                               {{item.1}}
                                               </td>
                                               <td>
                                               {{item.2}}
                                               </td>
                                               <td>
                                               {{item.3}}
                                               </td>
                                                <td>
                                               {{item.4}}
                                               </td>
	 											<td>
                                               {{item.5}}
                                               </td>
                                              <td>
                                               {%if item.6 %}
                                                        				<img src="{% static 'images/icon_success.gif'%}">
                                                        			{%else%}
                                                        			    <img src="{% static 'images/inactive.gif'%}" width="13" height="15">
                                                        			{%endif%}
                                                        			
                                                        		</td>
                                                        		<td class="brdrnone"><a href="/subscription/edit/{{item.7}}"><img src="{% static 'images/edit.png'%}" width="28" height="28" alt="Edit Subscription" title="edit subscription"></a></td>                                               
                                               {% endfor %}
                                                    </tbody>
                                                  </table>
                                         </div>
                                         </div>
                                      </div>


                                </div>
                                
                                
                                
                            </div></div>
                     {%endblock%}

{%block form1Width%}100%{%endblock%}
{%block form2%}{%endblock%}
{%block form3%}{%endblock%}










              



