{% extends "dashboard.html" %}
{% block leftMenu %}
<div id="left_menu">
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
{% endblock %}
                                
                                   {% block form1Title %}
                                   
                                   
                                   Change Password
                                   
                                   
                                   {% endblock %}
                                   
                               {% block form1Body %}
                                   




                                      <form id="add_user" method="post" action="">
                                       
                                       
                                      
                                       
                                       {% for error in errors %}
                                       <font color="red">{{error}}<br>
                                       </font>
                                       {% endfor %}
                                            
                                           <div class="section" >
                                                <label>Old Password<sup>*</sup></label>   
                                                <div> <input type="password" name="opassword" class="large" value="{{opassword}}"  /></div>
                                           </div>
                                           <div class="section" >
                                                <label>New Password<sup>*</sup></label>   
                                                <div> <input type="password" name="npassword" class="large" value="{{npassword}}"  /></div>
                                           </div>
                                           <div class="section" >
                                                <label>Confirm Password<sup>*</sup></label>   
                                                <div> <input type="password" name="cpassword" class=" large" value="{{cpassword}}"  /></div>
                                           </div>
                                           
                                            
                                            <div class="section last">
                                                <div>
                                                  <a class="btn submit_form">Save</a>
<a href="/" class="btn" title="Reset Form" onclick="ResetForm()">Cancel</a> </div>
                                           </div>
                                        </form>
                                </div><!--  end widget-content -->
                   
                            {% endblock %}
                            
                          <!-- start right section--> 
                            
                   