{% extends 'dashboard.html' %}
{% load staticfiles %}
                                          
                          {% block leftMenu %}
              <div id="left_menu">
                   <ul id="main_menu" class="main_menu">
                       {%if CUP.department.0 or cu.isAdmin%}
                      <li ><a href="/departments/"><span class="ico gray shadow pictures_folder" ></span><b>Department</b></a></li>
                      {%endif%}
                      
                      {%if CUP.role.0 or cu.isAdmin %}
                      <li ><a href="/role/list"><span class="ico gray shadow  pictures_folder"></span><b>Role</b> </a></li>
                      {%endif%}
                      
                      {%if CUP.employee.0 or cu.isAdmin%}
                      <li ><a href="/user/list" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                      {%endif%}
                      
                      {%if CUP.magazine.0 or cu.isAdmin%}
                      <li ><a href="/magazine/list"><span class="ico gray shadow pictures_folder" ></span><b>Magazine</b></a></li>
                      {%endif%}
                      
                      {%if CUP.magazineC.0 or cu.isAdmin%}
                      <li ><a href="/combo/list"><span class="ico gray shadow pictures_folder" ></span><b>Magazine Combo</b></a></li>
                      {%endif%}
                      
                      {%if CUP.gift.0 or cu.isAdmin%}
                      <li ><a href="/gifts/"><span class="ico gray shadow pictures_folder" ></span><b>Gift</b></a></li>
                      {%endif%}
                      
                      {%if CUP.tenure.0 or cu.isAdmin%}
                      <li ><a href="/tenures/"><span class="ico gray shadow pictures_folder" ></span><b>Tenure</b></a></li>
                      {%endif%}
                      
                      {%if CUP.scheme.0 or cu.isAdmin%}
                      <li ><a href="/schemes/"><span class="ico gray shadow pictures_folder"></span><b>Scheme</b></a></li>
                      {%endif%}
                      
                      {%if CUP.source.0 or cu.isAdmin%}
                      <li ><a href="/sources/"><span class="ico gray shadow pictures_folder"></span><b>Source</b></a></li>
                      {%endif%}
                      
                      {%if CUP.location.0 or cu.isAdmin%}
                      <li ><a href="/locations/"><span class="ico gray shadow pictures_folder"></span><b>Location</b></a></li>
                      {%endif%}
                      
                      {%if CUP.courier.0 or cu.isAdmin%}
                      <li class="select"><a href="/couriers/"><span class="ico gray shadow pictures_folder"></span><b>Courier</b></a></li>
                      {%endif%}
                      
                      {%if CUP.branch.0 or cu.isAdmin%}
                      <li ><a href="/branch/"><span class="ico gray shadow pictures_folder" ></span><b>Branch</b></a></li>
                      {%endif%}
                    </ul>
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}      
           
                    
                                    {% block form1Title %}Edit Courier{% endblock %}
                                	
                                
                                {% block form1Body %}
                                    {% for error in errors %}
                                       <font color="red">{{error}}<br></font>
                                       {% endfor %}
                                    
                                       
                                       
                                      <form id="add_user" method="post" action="/courier/edit/{{courierid}}/">
                                       <div class="section" >
                                                <label>Courier Code<sup>*</sup> </label>
                                                <div>   
                                                {% if code %}
                                                
                                    <input type="text" name="code" class=" large" value="{{code}}" maxlength="50"  />
                                            {% else %}
                                 <input type="text" name="code"  maxlength="50" class=" large" value="{{item.code}}"  />
                                                 {% endif %}
                                                 
                                                 
                                                 </div>
                                           </div> 
                                            <div class="section" >
                                                <label>Courier Name<sup>*</sup> </label>
                                                <div>   
                                                {% if name %}
                                                
                                                 <input type="text" name="name" class=" large"  maxlength="100" value="{{name}}"  />
                                                 {% else %}
                                                 <input type="text" name="name" class=" large" value="{{item.name}}" maxlength="100"  />
                                                 {% endif %}
                                                 
                                                 
                                                 </div>
                                           </div>
                                           
                                           
                                           
                                           
                                           <div class="section" >
                                                <label>Courier Description</label>   
                                                <div>
                                                
                                                {% if description %}
                                                 <input type="text" name="description" class=" large" value="{{description}}"  />
                                                 {% else %}
                                                 
                                                <input type="text" name="description" class=" large" value="{{item.description}}"  />
                                                
                                                
                                                {% endif %}
                                                
                                                
                                                </div>
                                           </div>
                                             <div class="section" >
                                                <label>Remark<sup>*</sup></label>   
                                                <div>
                                                
                                                
                                                 <input type="text" name="remark" class=" large" value="{{remark}}" maxlength="50"  />
                                               
                                                 
                                                
                                                
                                                
                                                
                                                
                                                
                                                </div>
                                           </div>
                                           
 
                                           
                                           <div class="section" >
                                                <label>status</label>   
                                                <div class="selectWidth1">
                                                <select class="small" name="status"  >
                                                {% if status %}
                                                {% ifequal status "2" %}
                                                 <option value="1">Active</option>
                                                <option value="2" selected>InActive</option>
                                                {% else %}
                                                 <option value="1" selected>Active</option>
                                                <option value="2">InActive</option>
                                                {% endifequal %}
                                                {% else %}
                                                {% if item.isActive %}
                                                <option value="1" selected>Active</option>
                                                <option value="2">InActive</option>
                                                
                                                {% else %}
                                                <option value="1">Active</option>
                                                <option value="2" selected>InActive</option>
                                                {% endif %}
                                                {% endif %}
                                              </select>       
                                      </div>
                                           </div>
                        

<div class="section last">
                                                <div>
                                                  <input type="submit" value="Save" name="editCourier" class="btn submit_form" ></input>
</div>
                                           </div>
                                        </form>
                                </div><!--  end widget-content -->
                            
                            
                          <!-- start right section--> 
                            
{% endblock %}