{% extends "dashboard.html" %}
{% load staticfiles %}
 {% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                       {%if CUP.department.0 or cu.isAdmin%}
                      <li ><a href="/departments/"><span class="ico gray shadow pictures_folder" ></span><b>Department</b></a></li>
                      {%endif%}
                      
                      {%if CUP.role.0 or cu.isAdmin %}
                      <li ><a href="/role/list"><span class="ico gray shadow  pictures_folder"></span><b>Role</b> </a></li>
                      {%endif%}
                      
                      {%if CUP.employee.0 or cu.isAdmin%}
                      <li ><a href="/user/list" ><span class="ico gray shadow pictures_folder"></span><b>User</b></a></li>
                      {%endif%}
                       {%if CUP.magazinePeriods.0 or cu.isAdmin%}
                      <li class="select"><a href="/magazinePeriods/"><span class="ico gray shadow pictures_folder" ></span><b>MagazinePeriod</b></a></li>
                      {%endif%}
                      {%if CUP.magazine.0 or cu.isAdmin%}
                      <li ><a href="/magazine/list"><span class="ico gray shadow pictures_folder" ></span><b>Magazine</b></a></li>
                      {%endif%}
                      
                      {%if CUP.magazineC.0 or cu.isAdmin%}
                      <li ><a href="/combo/list"><span class="ico gray shadow pictures_folder" ></span><b>Magazine Combo</b></a></li>
                      {%endif%}
                      
                      {%if CUP.gift.0 or cu.isAdmin%}
                      <li ><a href="/gifts/"><span class="ico gray shadow pictures_folder" ></span><b>Gift</b></a></li>
                      {%endif%}
                      
                      {%if CUP.tenure.0 or cu.isAdmin%}
                      <li ><a href="/tenures/"><span class="ico gray shadow pictures_folder" ></span><b>Tenure</b></a></li>
                      {%endif%}
                      
                      {%if CUP.scheme.0 or cu.isAdmin%}
                      <li ><a href="/schemes/"><span class="ico gray shadow pictures_folder"></span><b>Scheme</b></a></li>
                      {%endif%}
                      
                      {%if CUP.source.0 or cu.isAdmin%}
                      <li ><a href="/sources/"><span class="ico gray shadow pictures_folder"></span><b>Source</b></a></li>
                      {%endif%}
                      
                      {%if CUP.location.0 or cu.isAdmin%}
                      <li ><a href="/locations/"><span class="ico gray shadow pictures_folder"></span><b>Location</b></a></li>
                      {%endif%}
                      
                      {%if CUP.courier.0 or cu.isAdmin%}
                      <li ><a href="/couriers/"><span class="ico gray shadow pictures_folder"></span><b>Courier</b></a></li>
                      {%endif%}
                      
                      {%if CUP.branch.0 or cu.isAdmin%}
                      <li ><a href="/branch/"><span class="ico gray shadow pictures_folder" ></span><b>Branch</b></a></li>
                      {%endif%}
                    </ul>
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}   
        
          {% block form1Title %}
          Edit Magazine Period
          {% endblock %}
                               	
                         {% block form1Body %}       
                               
                                    {% for error in errors %}
                                    <font color="red">{{error}}<br>
                                    </font>
                                    {% endfor %}
                                    
                                      <form id="add_user" method="post" action="/magazinePeriod/edit/{{para}}/">
                                      
                                                                                
                                       
                                            <div class="section" >
                                                <label>Name<sup>*</sup> </label>   
                                                <div>
                                                {% if name %}
                                                 <input type="text" name="name" class=" large" value="{{name}}"  />
                                                 {% else %}
                                                <input type="text" name="name" class=" large" value="{{row.name}}"  />
                                                {% endif %}
                                                </div>
                                           </div>
                                           
                                           <div class="section" >
                                                <label>Time Period<sup>*</sup> </label>   
                                                <div>
                                                {% if timeperiod %} 
                                                <input type="text" name="period" class=" large"  maxlength="4" onkeypress="return isNumberKey(event)" value="{{timeperiod}}"  />
                                                {% else %}
                                                <input type="text" name="period" class=" large" value="{{row.daysPeriod}}"  />
                                                {% endif %}
                                                </div>
                                           </div>
                                           <div class="section" >
                                                <label>Remark<sup>*</sup></label>   
                                                <div>
                                                
                                                
                                                 <input type="text" name="remark" class=" large" value="{{getremark}}"  />
                                               
                                                </div>
                                           </div>
   
                                          
                                           

                                        
                                          
                                           
                                           
                                           
                                            <div class="section last">
                                                <div>
                                                  <input type="submit" name="editMagazinePeriod" value="submit" class="btn submit_form"></input>
 </div>
                                           </div>
                                        </form>
                                </div><!--  end widget-content -->
                            
                            
            {% endblock %}