{% extends 'dashboard.html' %}
{% load staticfiles %}
               
              
                    {% block leftMenu %}
              <div id="left_menu">
                    <ul id="main_menu" class="main_menu">
                      
                      <li class="select"><a href="/giftstock/"><span class="ico gray shadow pictures_folder" ></span><b>Gift Stock</b></a></li>
                      
                      
                      
                    </ul>
                    <div id="footer"> &copy; Copyright 2013  </div>
              </div>
              {%endblock%}   
                                 
                    
                    
                   
                   

                              
           {% block form1Title %}
                  Gifts History
           {% endblock %} 
                  {% block form1Header %}
                  
                  <div class="btn-group btn-square" style="float:right; margin:3px 2px 0 0" >
               </div>
                          {% endblock %}
                                

                          {% block form1Body %}
                          <div id="UITab" style="position:relative; ">
                                         
                               <div class="" >
                                          <div id="tab1" class="tab_content"> 
                                           
                                                  <table class="table table-bordered table-striped data_table3 "  id="data_table3" width="100%">
                                                    <thead align="center"  class="tr_bg_list">
                                                      <tr >
                                                        
                                                       
                                                       
                                                        
                                                        <td width="20%">Quantity Updated</td>
                                                         <td width="40%">Reason</td>
                                                        <td width="20%">Date</td>
                                                      </tr>
                                                    </thead>
                                                    <tbody align="center" class="font_wght">
                                                    
                                                    {% for item in allrows %}
                                                      <tr>
                                                        
                                                        <td>{{item.quantity}}</td>
                                                        <td>{{item.reason}}</td>
                                                        <td>{{item.date}}</td>
                                                        
                                                
                                                      </tr>
                                                     
                                                     
                                                     {% endfor %}
                                                      
                                                      
                                                      
                                                      
                                                    </tbody>
                                                  </table>
                                      </div>
                                              
                                      </div>
                                      </div>
                                
                     {% endblock %}
                    